html, body {
  min-height: 100%;
  height: 100%;
  width: 100%;
  min-width: 100%;
  margin: 0;
  font-family: "roboto-thin";
  font-weight: 800;
}

p {
  margin: 0;
}

.square-icon {
    color: whitesmoke;
    background-color: #004C82;
    padding: .4em;
    border-radius: 15%;
    font-size: 1.2em;

    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.diamond {
   display: block;
   height: 1em;
   width: 1em;
   transform: rotate(45deg) translate(0, .2em);
   background-color: #BDBDBD;
   background-image: url('../img/grid_stripe2.png');
}

#big-logo {
    width: 50rem;
}

/** Override materialize styles */
.row { margin: 0;}

/** Helpers */
.rst-margin {
   margin: 0;
}

.rst-padding {
   padding: 0;
}

#page-content {
  min-height: 100%;
  height: 100%;
}

/** Margins */
.low-padding-top-bot { padding: .3em 0em; }
.med-padding-top-bot { padding: .6em 0em; }
.long-padding-top-bot { padding: 1em 0em; }
.xxlong-padding-top-bot { padding: 2em 0em; }
.xxxlong-padding-top-bot { padding: 3em 0em; }

.xxlong-margin-top-bot { margin: 2em 0em;}
.xxxlong-margin-top-bot { margin: 3em 0em;}

/** Background colors and pattern */
.bg-dark-grey{ background-color: #3C3C3C; }
.bg-dark-blue{ background-color: #004C82; }
.bg-dark2-blue{ background-color: #001F35;}
.bg-strip-pattern {background-color: WhiteSmoke !important; background-image: url('../img/grid_stripe2.png');}
.bg-white2 { background-color: #FDFDFD; }
.bg-light-blue {background-color: #0078CF;}
.bg-light2-blue {background-color: #1e88e5;}

.underlined-no-width { border-bottom-style: solid; border-bottom-width: 2px; }
.border-dark-blue { border-color: #004C82; }
.border-white { border-color: whitesmoke; }
.border-gold { border-color: #EACC00; }

/** Sections */
section {
  /*height: 100%;*/
  min-height: 100%;
  width: 100%;
}

#page-top {
    background-color:  #004C82;
    background-image: url(../img/triangles-background.svg);
    background-opacity: 0.5;
  background-repeat: no-repeat;
    background-size: cover;
  background-position: center;
}

   #page-top .row:first-child {
      padding-top: 7em;
       z-index: 1000;
   }

      #page-top h1 {
         border-bottom-style: solid;
         border-bottom-width: 2px;
      }

#main-title {
    height: auto;
    min-height: auto;
}

#main-title > div {
   margin-bottom: 12em;
}

   .row .nav-option {
      padding: 1em 0;
   }

   .nav-option:not(:last-child) {
      border-right: solid 1px #9e9e9e;
   }

   .nav-option a {
      color: #9e9e9e;
      letter-spacing: 4px;
   }

   .nav-option a:hover {
      border-bottom: solid 4px #004C82;
   }

   #main-title > div:last-child {
      height: calc(100% - 4em);
   }

#bet-on-yourself {
  min-height: auto;
  height: auto;
}

   #bet-on-yourself .info-card {
       text-align: center;
       margin: 0 auto;
       padding: 3em 1em;
       height: inherit;
   }

      .icon-square {
         cursor: pointer;
      }

         .icon-square > svg {
             height: 12em;
             width: 12em;
             fill: #001F35;
             background-image: url('/img/grid_stripe2.png');
             background-color: #fff;
             padding: 1.5em;

             border-radius: 25%;
             border-width: 8px;
             border-style: solid;
             border-color: #f8f8f8;
             box-shadow: inset 0 0 7px 0 rgba(0,0,0,.08);
         }

            .icon-square.selected-icon > svg {
               border-color: #EACC00;
            }

      .info-card h3 {
         cursor: pointer;;
      }

#details {
   min-height: auto;
   height:auto;
}

   #details .carousel-item {
      height: 38em;
      display: -webkit-flex !important;
      display: -ms-flexbox !important;
      display: flex !important;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
   }

   #details .carousel-item img {
      max-height: 25em;
   }


#features {
   min-height: auto;
   height: auto;
}

#features .row {
   min-height: 100%
}

#team {
   height: auto;
   min-height: auto;
}

   #team .title {
      margin-bottom: 0;
      border-bottom-style: solid;
      border-bottom-width: 2px;
}

   #team .info-card {
      padding: 1em 0;
   }

   #team .info-card .square-icon:hover {
      color: #9e9e9e;
      background-color: #212121;
   }

   #team .info-card .img-wrapper {
      width: 155px;
      height: 155px;
      margin: 0 auto;
      border-style: double;
      border-width: 4px;
      border-color: rgba(0, 76, 130, .8);
      border-radius: 100%;
   }

      .img-wrapper .circular {
         width: 100%;
         height: 100%;
         border-radius: 100%;
      	-webkit-border-radius: 100%;
      	-moz-border-radius: 100%;
      }

footer.page-footer {
    background-color: #3C3C3C;
    margin-top: 0;
}

   footer .container {
      max-width: none;
   }

   .footer-icon {
      color: #9e9e9e;
      background-color: #212121;
   }

      .footer-icon:hover {
         color: #ffffff;
         background-color: #004C82;
      }

   .logo-lisk-sepia {
      display: inline-block;
      background-image: url("../img/lisk-logo-grey_white.png");
      background-size: 100%;
      background-position: center;
      background-repeat: no-repeat;
      height: 2.5em;
      width: 6rem;
      margin-left: 0.5em;
   }

   .logo-battle-sepia {
      display: inline-block;
      background-image: url("../img/battle-chain-icon-mini.png");
      background-size: 100%;
      background-position: center;
      background-repeat: no-repeat;
      height: 2.5em;
      width: 4rem;
      margin-right: 0.5em;
   }

/** Slide to top button */
.slide-top {
   width: 3em;
   height: 3em;
   position: fixed;
   bottom: 2em;
   right: 2em;
   text-align: center;
   visibility: hidden;
   opacity: 0;
   background-color: rgba(0, 76, 130, 0.8);
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
   border-radius: 3px;
   cursor: pointer;

   -webkit-transition: opacity 0.5s, visibility 0.5s;
   transition: opacity 0.5s, visibility 0.5s;
}

.slide-top i {
   font-size: 2em;
   padding: 0.25em;
   color: white;
}

.slide-top.st-is-visible {
  visibility: visible;
  opacity: 0.8;
}

.slide-top.st-is-visible:hover {
  opacity: 1;
}







/** Separator with arrow */
.separator-strip-arrow {
    content: " ";
    padding: .6em;
    width: 100%;
}
.separator-strip-arrow::after {
    content: ' ';
    display: block;
    position: absolute;
    height: 15px;
    width: 15px;
    left: 50%;
    transform: rotate(45deg) translate(0, .2em);
    z-index: 1;
    background-color: WhiteSmoke !important; background-image: url('../img/grid_stripe2.png');
}

/** Separator without arrow */
.separator-arrow-grey {
    content: " ";
    padding: .6em;
    width: 100%;
}
.separator-arrow-grey::after {
    content: ' ';
    display: block;
    position: absolute;
    height: 15px;
    width: 15px;
    left: 50%;
    transform: rotate(45deg) translate(0, .2em);
    z-index: 1;
    background-color: #BDBDBD !important;
}

.separator-grey::after {
    content: ' ';
    display: block;
    margin: 0 auto;
    width: 70%;
    border-top: solid 2px white;
    margin-top: .5em;
    margin-bottom: .5em;
}

/** DESKTOP */
@media only screen and (min-width: 993px) {

   footer.page-footer .container {
      width: 95%;
   }
}

/** TABLET */
@media only screen and (min-width: 601px) and (max-width: 992px) {

   .nav-option:nth-child(even) {
      border-right: none;
   }
}

/** MOBILE */
@media only screen and (max-width: 601px) {

   .nav-option:not(:last-child) {
      border-right: none;
   }

   .icon-square > svg {
      height: 10em;
      width: 10em;
      padding: 0.5em;
   }
}


/*.full-width { width: 100%; }*/

/** Icons and images */
/*.logo-bc-sepia { content: url("../img/logo3-bn_2_no_bet _black.png"); height: 45px; width: 165px; margin-top: 25px;}*/

/* TODO: Coin flip animation */
/*.coin-flip:hover {
    opacity:.4;
    transform: rotateY(180deg);
    transition-duration: 2.5s;
}*/
