html, body { min-height: 100%; height: 100%; width: 100%; min-width: 100%;  margin: 0; 
    font-family: "roboto-thin"; font-weight: 800;}
p {margin: 0;}

#big-logo {
    width: 50rem; 
}

/** Override materialize styles */
.row { margin: 0;}

/** Sections */
#page-content {  min-height: 100%; height: 100%;}
#page-top { min-height: 100%; height: 100%; width: 100%; background-image: url('../img/malachite_grid-wallpaper-800.jpg'); background-repeat: repeat-x; background-size: contain; }
#main-title {height: 85%; min-height: 85%; }
#bet-on-yourself { /*min-height: 90%; height: 90%;*/ min-height: none; width: 100% !important;}
#features { min-height: 80%; height: 80%; width: 100% !important;}
#features .row{ min-height: 100% }
#team { display: table; min-height: 80% !important; height: 80% !important; width: 100% !important;}
#details {min-height: 90%; height:90%;}

/* details */
#details .carousel-slider { min-height: 100% !important; height: 100% !important; }
.carousel-item {height: 100%;}
.carousel-item > div {height: 90%;}


/** Other useful classes */
.circular-icon { color: black; background-color: transparent; padding: .3em; display: inline-block; border-radius: 60px; border-width: 4px;  border-color: #888; border-style: solid; }
.square-icon {
    color: whitesmoke; background-color: #004C82; padding: .4em; border-radius: 15%; font-size: 1.2em;
}

.underlined { width: 40%; margin: 0 auto; border-bottom-style: solid; border-bottom-width: 2px; }
.underlined-no-width { border-bottom-style: solid; border-bottom-width: 2px; }
.border-dark-blue { border-color: #004C82; }
.border-white { border-color: whitesmoke; }
.border-gold { border-color: #EACC00; }

.horizontal-list ul li { float: left; margin-right: 1em;}

.footer-icon { color: #9e9e9e; background-color: #212121;}


/** Navigator */
.nav-option { border-right: solid 1px #9e9e9e; }
.nav-option a { cursor: grab; padding: 0em 2em; color: #9e9e9e; letter-spacing: 4px; }
.nav-option a:hover { border-bottom: solid 4px #004C82; }

/** Information card for bet on yourself section */
.info-card > div{
    text-align: center; margin: 0 auto; width: 80%; height: inherit;
}

.icon-square > svg {
    height: 12em;
    width: 12em;
    fill: #001F35;
    background-image: url('/img/grid_stripe2.png');
    background-color: #fff;
    padding: 1.5em;
    
    border-radius: 25%;
    border-width: 8px;
    border-style: solid;
    border-color: #f8f8f8; 
    box-shadow: inset 0 0 7px 0 rgba(0,0,0,.08); 
}

.icon-square.selected-icon > svg { border-color: #EACC00; }

/** Separator with arrow */
.separator-strip-arrow {
    content: " ";
    padding: .6em;
    width: 100%;
}
.separator-strip-arrow::after {
    content: ' ';
    display: block;
    position: absolute;
    height: 15px;
    width: 15px;
    left: 50%;
    transform: rotate(45deg) translate(0, .2em);
    z-index: 1; 
    background-color: WhiteSmoke !important; background-image: url('../img/grid_stripe2.png');
}

/** Separator without arrow */
.separator-arrow-grey {
    content: " ";
    padding: .6em;
    width: 100%;
}
.separator-arrow-grey::after {
    content: ' ';
    display: block;
    position: absolute;
    height: 15px;
    width: 15px;
    left: 50%;
    transform: rotate(45deg) translate(0, .2em);
    z-index: 1; 
    background-color: #BDBDBD !important;
}

/** img circular wrapper */
.img-wrapper {
    border-style: solid;
    border-width: 8px;
    /*border-color: rgba(0,31,53,.15);*/
    border-color: rgba(0, 76, 130, .8);
    border-radius: 100%;
    box-shadow: inset 0 0 7px 0 #001F35;
    width: 155px;
	height: 155px;
    margin: 0 auto;
}
img[class="circular"] {
    width: 140px;
	height: 140px;
	border-radius: 150px;
    border-style: solid;
    border-color: rgba(0, 76, 130, .2);
    border-width: 2px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
}

/** Margins */
.low-padding-top-bot { padding: .3em 0em; }
.med-padding-top-bot { padding: .6em 0em; }
.long-padding-top-bot { padding: 1em 0em; }
.xxlong-padding-top-bot { padding: 2em 0em; }
.xxxlong-padding-top-bot { padding: 3em 0em; }

.xxlong-margin-top-bot { margin: 2em 0em;}

/** Background colors and pattern */
.bg-dark-grey{ background-color: #3C3C3C; }
.bg-dark-blue{ background-color: #004C82; }
.bg-dark2-blue{ background-color: #001F35;}
.bg-strip-pattern {background-color: WhiteSmoke !important; background-image: url('../img/grid_stripe2.png');}
.bg-white2 { background-color: #FDFDFD; }
.bg-light-blue {background-color: #0078CF;}
.bg-light2-blue {background-color: #1e88e5;}



/** Align */
div[class="centered-div"]{
    margin: 0 auto;
    width: 50%;
}

.full-width { width: 100%; }
.width-80 { width: 80%; margin: 0 auto;}

/** Icons and images */
.logo-lisk-sepia { content: url("../img/lisk-logo-grey_white.png"); height: 60px; width: 100px; }
.logo-bc-sepia { content: url("../img/logo3-bn_2_no_bet _black.png"); height: 45px; width: 165px; margin-top: 25px;}


/* TODO: Coin flip animation */
/*.coin-flip:hover {
    opacity:.4;
    transform: rotateY(180deg);
    transition-duration: 2.5s; 
}*/